<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Login</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href="//fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" />
    <script src="//cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- body %>
    <script>
      if (document.getElementById('profile_photo')) {
        document.getElementById('profile_photo').onchange = (e) => {
          // get the url from the last document
          const url = URL.createObjectURL(e.target.files[0]);

          // set data to the profile photo
          document.querySelector('.profile-preview').setAttribute('src', url);
        };
      }

      let images = ``;
      if (document.getElementById('gallery_photo')) {
        document.getElementById('gallery_photo').onchange = (e) => {
          // get the file
          const files = e.target.files;

          // do a loop to find a picture from all files
          for (let i = 0; i < files.length; i++) {
            // get the url from the last document
            const url = URL.createObjectURL(e.target.files[i]);

            images += `<img class="gallery-preview ease-in-out duration-300 hover:ring-1 ring-offset-2 ring-cyan-600" src="${url}" alt="avatar" />`;
          }

          // set data to the gallery photos
          document.querySelector('.gallery').innerHTML = images;
        };
      }
    </script>
  </body>
</html>
