<div class="user info">
  <% if (user.photo) { %>
  <img
    class="hover:border-2 border-teal-700 transition ease-in-out duration-500"
    src="./media/users/<%= user.photo %>"
  />
  <% } else { %>
  <img src="./images/avatar.png" alt="avatar" />
  <% } %>
  <h3 class="text-orange-500 text-bold"><%= user.name %></h3>
  <h3 class="mb-4"><%= user.email %></h3>
</div>
