<div class="user-menu">
  <ul>
    <li class="active">
      <a href="/"><i class="fa fa-user-md"></i> Profile</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-edit"></i> Edit</a>
    </li>
    <li>
      <a href="/pass-change"><i class="fa fa-unlock-alt"></i> Change Password</a>
    </li>
    <li>
      <a href="/photo-up"><i class="fa fa-camera"></i> Profile Photo</a>
    </li>
    <li>
      <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
    </li>
  </ul>
</div>
