<div class="auth-body">
  <div class="auth-wraper">
    <div class="auth-featured">
      <img
        src="https://images.unsplash.com/photo-1667644299860-c181b6f8f1d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
        alt=""
      />
    </div>
    <div class="auth-form">
      <h2>Sign In</h2>
      <% if (message) { %>
      <p><%= message %></p>
      <% } %>
      <div class="form-wraper">
        <form action="/login" method="POST">
          <div class="form-group">
            <label for="">Email</label>
            <input name="email" type="text" />
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input name="password" type="password" />
          </div>
          <div class="form-group">
            <button type="submit">Log In</button>
          </div>
        </form>
      </div>
      <div class="utility">
        <a href="#">Forgot password</a>
        <a href="/register">Create an account</a>
      </div>
      <div class="social-login">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-google"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>
</div>
