<div class="profile-body">
  <div class="profile-wraper">
    <div class="profile-info">
      <%- include("./layouts/info") %>
      <hr />
      <%- include("./layouts/menu") %>
    </div>
    <div class="profile-box">
      <div class="box-content">
        <h2>Change Photo</h2>
        <hr />
        <div class="form-wraper">
          <form action="">
            <div class="form-group">
              <label for="">Select a Photo</label>
              <div class="profile-photo">
                <img src="./images/avatar.png" alt="" />
              </div>
              <label class="upload">
                <i class="fa fa-photo uplaod"></i>
                <input style="display: none" type="file" />
              </label>
            </div>
            <div class="form-group">
              <button>Change</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
