<div class="profile-body">
  <div class="profile-wraper">
    <div class="profile-info">
      <%- include("./layouts/info") %>
      <hr />
      <%- include("./layouts/menu") %>
    </div>
    <div class="profile-box">
      <div class="box-content">
        <h2>Change Photo</h2>
        <hr />
        <% if (message) { %>
        <p class="text-red-500"><%= message %></p>
        <% } %>
        <div class="form-wraper">
          <form action="/photo-up" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="">Select a Photo</label>
              <div class="profile-photo">
                <% if (user.photo) { %>
                <img class="profile-preview" src="./media/users/<%= user.photo %>" />
                <% } else { %>
                <img class="profile-preview" src="./images/avatar.png" alt="avatar" />
                <% } %>
              </div>
              <label class="upload">
                <i class="fa fa-photo uplaod"></i>
                <input id="profile_photo" name="profile-p" style="display: none" type="file" />
              </label>
            </div>
            <div class="form-group">
              <button>Change</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
